In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=cde60205c64447e89a289c058e269aa84f824d96602e807c0d5fd72beb932528
  Stored in directory: /root/.cache/pip/wheels/9f/34/a4/159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
import random

In [ ]:
conf = SparkConf().setAppName('appName').setMaster('local[*]')

In [ ]:
sc=SparkContext(conf=conf)

In [ ]:
#Q1
spark = SparkSession.builder.appName("broadcast_join").getOrCreate()

rdd1 = spark.sparkContext.parallelize([(101, "Taha"), (202, "Ali"), (303, "Mustafa")]) #id,name
rdd2 = spark.sparkContext.parallelize([(101, 19), (202, 20), (303, 40)]) #id,age

broadcast_v = spark.sparkContext.broadcast(rdd1.collectAsMap())
result = rdd2.map(lambda x: (x[0], broadcast_v.value.get(x[0]), x[1])) #id,name,age get
result.collect()

[(101, 'Taha', 19), (202, 'Ali', 20), (303, 'Mustafa', 40)]

In [ ]:
#Q2
num=sc.accumulator(0) #55
def f(x):
  global num
  num+=x
rdd=sc.parallelize([1,2,3,4,5,6,7,8,9,10])
rdd.foreach(f)
final=num.value
print("Accumulated value is",final)

Accumulated value is 55

In [ ]:
#Q3
text = sc.textFile("text.txt")

pair = text.map(lambda line: line.split(","))
pair1=pair.map(lambda pair: (pair[0], int(pair[1])))
high_pair = pair1.takeOrdered(5, key=lambda x: -x[1])

print("Highest value, 5 key value pair :")
for pair in high_pair:
    print(pair[0], pair[1])

Highest value, 5 key value pair :
10 30
9 25
6 20
8 18
5 15

In [ ]:
#Q4
scores_rdd = sc.textFile("score.txt")

pair_rdd = scores_rdd.map(lambda line: line.split(",")).map(lambda pair: (pair[1], int(pair[2])))
top_subjects = pair_rdd.takeOrdered(5, key=lambda x: x[1])

print("Top 5 subjects with lowest names :")
for subject in top_subjects:
    print(subject[0], subject[1])

Top 5 subjects with lowest names :
Science 75
Science 78
Science 80
Math 85
English 88

In [ ]:
#Q5
rdd = sc.parallelize(range(1, 21))
sum_of_sq = rdd.filter(lambda x: x % 2 == 0).map(lambda x: x ** 2).reduce(lambda x, y: x + y)
print("Sum of square of even numbers:")
print(sum_of_sq)

Sum of square of even numbers:
1540